<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>
</head>
<body>
<p><a href="/registration">Регистрация</a> || <a href="/login"> Авторизация</a></p>
<form action="/search">
    <select name="searchfield">
        <option value="name">Имя</option>
        <option value="surname">Фамилия</option>
        <option value="patronymic">По батюшки</option>
        <option value="position">Позиция</option>
        <option value="employment_date">Дата устройства</option>
        <option value="salary">Зарплата</option>
        <option value="chief">Начальник</option>
    </select>
    <input type="text" name="what">
    <input type="submit" value="Поиск">
</form>
<table style="width:100%">
<tr><th><a href="/allworkers/?sort=id">ID</a>
    <th><a href="/allworkers/?sort=name">Имя</a></th>
    <th><a href="/allworkers/?sort=surname">Фамилия</a></th>
    <th><a href="/allworkers/?sort=patronymic">По батюшки</a></th>
    <th><a href="/allworkers/?sort=position">Позиция</a></th>
    <th><a href="/allworkers/?sort=employment_date">Дата устройства</a></th>
    <th><a href="/allworkers/?sort=salary">Зарплата</a></th>
    <th><a href="/allworkers/?sort=chief">Начальник</a></th></tr>

{% for worker in allworkers %}

    <tr><td>{{ worker.id }}<a target="_blank" href="{{ worker.thumb.url }}">
        <img src="{{ worker.thumb.url }}" alt="отсутствует фото" style="width:60px"></a>
        <a href="/delete/{{ worker.id }}">удалить</a>
    <a href="/changeview/{{ worker.id }}">изменить</a></td><td>{{ worker.name }}</td> <td>{{ worker.surname }}</td>   <td>{{ worker.patronymic }}</td>
    <td>{{ worker.position }}</td> <td>{{ worker.employment_date }}</td>
    <td>{{ worker.salary }}</td> <td>{{ worker.chief }}</td></tr>

{% endfor %}
</table>
</body>
</html>