{% for worker in workers %}
<p>{{ worker.name }} {{ worker.surname }}, {{ worker.position }}</p>
    {% for under in worker.workers.all %}
       <p><a href="/under/{{ under.id }}">{{ under.name }} {{ under.surname }}, {{ under.position }}</a></p>
{% endfor %}
{% endfor %}