<form method="post" action="/loginform/" >
{% csrf_token %}
<p>Введите данные для входа</p>
<p>Enter username:<input type="text" name="username"></p>
<p>Enter password:<input type="password" name="password"></p>
<input type="submit" value="Вход">
</form>