<form action="/registration_form/">
<p>Введите данные для регистрации</p>
<p>Enter username:<input type="text" name="username"></p>
<p>Enter password:<input type="password" name="password"></p>
<p>Enter email:<input type="text" name="email"></p>
<p>Enter first name:<input type="text" name="first_name"></p>
<p>Enter last name:<input type="text" name="last_name"></p>

<input type="submit" value="Регистрация">
</form>
